<%- include('partials/header', { title: '404' }) %>

<div class="page-404">
  <div class="emoji-big">🐄💨</div>
  <h1>404 - Lost in the Pasture</h1>
  <p>This burger spot doesn't exist... yet.</p>
  <a href="/" class="btn btn-primary">Back to MooBurger</a>
</div>

<%- include('partials/footer') %>
